body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  
}
#root {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
	flex-direction: column;
  background: #121212;
}

